<div class="container" [spin-widget]='{spinTrigger:spinTrigger}'>
    <h1>Test bike html</h1>

    <span (click)='showModal($event)'>'modal test | '</span>
    <span (click)='showModalComplex($event)'>'complex modal test | '</span>
    <span (click)='showModalOther($event)'>'other modal test | '</span>

    <div class="input-group date" (dateClicked)='onDateClicked($event)' [datepicker-widget]>
    <input type="text" [(ngModel)]='dateValue' class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div>
    <hr>
    <div class='input-group date' (datetimeClicked)='onDatetimeClicked($event)' [datetimepicker-widget]>
        <input type='text' class="form-control" [(ngModel)]='datetimeValue'/>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <hr>
    <label>spin controls: </label>
    <button (click)='triggerTheSpin(true)' class="btn btn-default">On</button>
    <button (click)='triggerTheSpin(false)' class="btn btn-default">Off</button>
    <hr>
    <input type="text" value="55" [touchspin-widget]>
</div>
